
@using PagedList.Mvc
@using SQL.NoSQL.WEB.Models
@model LogListModel

@{
    ViewBag.Title = "SQL-NoSQL Acces Data";
    LogsReportModel report = ViewData["LogReport"] as LogsReportModel;
}


<h2>Accesso Database Misto</h2>

<br />

@using (Html.BeginForm("MixedAccess", "Home", FormMethod.Get))
{


    <p>
        <div class="form-group row">
            <label for="App" class="col-sm-2">Applicazione:</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(m => m.SelectedApp, new SelectList(Model.App,
                               "Id", "Name",
                               Model.SelectedApp), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="TextToSearch" class="col-sm-2">Search:</label>
            <div class="col-sm-8">
                @Html.TextBox("TextToSearch", Model.TextToSearch, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-8">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>

    </p>
}

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Livello
            </th>
            <th>
                Data
            </th>
            <th>
                Applicazione
            </th>
            <th>
                Messaggio
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Logs)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.App.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
        Page @(Model.Logs.PageCount < Model.Logs.PageNumber ? 0 : Model.Logs.PageNumber) of @Model.Logs.PageCount

        @Html.PagedListPager(Model.Logs, page => Url.Action("MixedAccess",
    new { Model.SelectedApp, page, TextToSearch = Model.TextToSearch }))

        <br />
        <div class="form-group row">
            <label for="PaginationTime" class="col-sm-2">Tempo Paginazione:</label>
            <div class="col-sm-8">
                @Html.DisplayFor(modelItem => modelItem.PaginationTime) ms
            </div>
        </div>



        <div class="form-group row">
            <div class="offset-sm-2 col-sm-8">
                <input id="reportBtn" type="submit" value="Open Report" class="btn btn-warning" />
            </div>
        </div>

<div id="report"/>
       
 <script type="text/javascript">
    var url = '@Url.Action("MixedReport", "Home")';
    $('#reportBtn').click(function () {
        $('#report').load(url);
    })
</script>