@using SQL.NoSQL.WEB.Models
@model AppModel



<h3>Update App SQL</h3>


    <div class="form-group row" style="display:none;">
    </div>
    <div class="form-group row">
        @Html.HiddenFor(model => model.SelecteAppMoldel.Id)
    </div>
    <div class="form-group row">
        <label for="SelecteAppMoldel" class="col-sm-2">Applicazione:</label>
    </div>
    <div class="form-group row">
        @Html.TextBoxFor(model => model.SelecteAppMoldel.Name, new { @class = "form-control" })
    </div>

    <input id="UppdateAppBtn" type="submit" value="Update" class="btn btn-warning" />


<div class="form-group row">
    <label for="TimeUpdateApp" class="col-sm-2">Tempo (ms):</label>
    <div class="col-sm-2">
        @Html.DisplayFor(modelItem => modelItem.TimeUpdateApp)
    </div>
</div>



<script type="text/javascript">
    $('input#UppdateAppBtn').click(function () {
        var data = { model: { SelecteAppMoldel: { Id: '@Model.SelecteAppMoldel.Id', Name: '@Model.SelecteAppMoldel.Name' } } };
        $.ajax({
            type: "POST",
            url: '/Home/SQLUpdateApp',
            data: data,
            success: function (resultData) {
                // take the result data and update the div
                $("#SQLUpdate").html(resultData);
            }
        });
    })
</script>